@media screen and (max-width: 1024px) {
  .humberger-icon {
    display: block;
  }
  .navbar-middle {
    display: none;
  }
  .account-icon {
    display: none;
  }
  .hotselling-items {
    height: 54vh;
  }
  .hotselling-top {
    height: 40vh;
  }
  .hotselling-product-image img {
    height: 30vh;
  }
  .hotselling {
    height: 7vh;
  }
  .hotselling h1 {
    font-size: 1.3rem;
  }
  .hotselling-product-name {
    height: 7vh;
  }
  .hotselling-product-name h1 {
    font-size: 1rem;
  }
  .hotselling-product-name h4 {
    font-weight: 500;
    font-size: 0.7rem;
  }
  .hotselling-product-pricing {
    height: 7vh;
  }
  .hotselling-product-pricing h2 {
    font-size: 1rem;
  }
  .hotselling-product-pricing h3 {
    font-size: 0.8rem;
  }
  .hotselling-product-pricing button {
    padding: 1.5vh 3.5vh;
    border-radius: 30px;
    font-size: 0.7rem;
  }
  .hotselling-products-heading h2 {
    font-size: 1rem;
  }
  .hotselling-products-heading h3 {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}
